// place global styles here

body {
  background: transparent;
  font-family: $fontFamilyFoundation;
  font-size: rem-calc(14);
}

body.front {
  background: transparent;
}

body.admin-menu { 
  background-position: 0 290px;
}

body.page-node-edit,
body.page-node-add {
  background: none;
  #content-area {
    margin: 0 100px 0 40px;
  }
  .page-header {
    > .container {
      border-bottom: 8px solid #f2f1f1;
      height: auto;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }
}

.content-header {
  .contentHeaderTitle {
    margin-left: 25px;
  }
}