// Paths

  $path: "/sites/all/themes/specialevents/";
  $fonts_path: "#{$path}fonts/";
  $js_path: "#{$path}js/";
  
// We have to declare this here because 

  //@import "global";

// Fonts

  @include fontFace("MontserratLight", "../fonts/Montserrat-Light");

// Custom Variables

  $blueMuted: #385988;
  $blueDeep: #193365;
  $blueBright: #008cba;
  $blueSky: #cde2ff;

  $bronze: #bc995d;

  $highlight: #fffc7e;
  
  $gray: #f2f1f1;
  $grayLight: #f7f7f7;
  $grayDark: #535353;

  $fontFamilyFoundation: "Open Sans", helvetica, arial, sans-serif;
  $fontFamilyLight: "Open Sans", helvetica, arial, sans-serif;
