@media only screen and (max-width: 1100px) {
  .top-bar-section ul li>a {
    font-size: rem-calc(16);
  }
  ul.title-area {
    .name h2 {
      a {
        font-size: rem-calc(25);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .top-bar-section ul li>a {
    font-size: rem-calc(16);
  }
  ul.title-area {
    .name h2 a {
      font-size: rem-calc(22);
      margin-left: 0;
      padding: 0 20px;
    }
  }

  #content-header {
    padding: 37px 40px;
    h2.page-title {
      text-align: center;
      padding-bottom: 0;
      margin-bottom: 0
    }
  }
  #content-area {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 761px) {

}

@media only screen and (max-width: 960px) and (min-width: 761px) {
  #header {
    background-position: top center !important;
    background: none !important;
  }
  header .container {
    height: auto;
  }
  ul.title-area {
    width: 100%;

    background: #fff;
    .name {
      height: auto;
    }
    .name h2 a {
      margin: 0;
      text-align: center;
      font-size: rem-calc(35);
      line-height: auto;
      float: none;
      height: auto;
      line-height: auto;
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .top-bar-section {
    text-align: center;
    clear: both;
    ul.left {
      float: none !important;
      display: block;
      background: $oil;
      clear: both;
      padding: 0;
      line-height: rem-calc(50);
      height: rem-calc(50);
      li {
        padding: 0;
        line-height: rem-calc(50);
        float: none !important;
        display: inline-block;
        a {
          line-height: rem-calc(50) !important;
        }
      }
    }
  }
  .register_nag {
    display: none;
  }
  #content-header {
    clear: both;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 760px) and (min-width: 320px) {
  header .container {
    height: 200px;
  }
  #header {
    background-position: top center !important;
  }
  .pager-item {
    display: none;
  }
  .register_nag {
    display: none;
  }
  body.front {
    .node-bookcast {
      .field-name-field-bc-book-cover {
        display: block;
      }
    }
  }
  ul.title-area .name h2 a {
    line-height: inherit !important;
  }
  .right-off-canvas-toggle {
    img {
      height: rem-calc(34px);
      width: rem-calc(34px);
    }
    span {
      display: none;
    }
  }

}

// Medium screens
@media only screen and (max-width: 960px) and (min-width: 320px) {

  body,
  body.front {
    background: #fff;
  }

  .fcoeHeader {
    background-position: 90% 0;
  }

}

@media only screen and (max-width: 500px) {

  .fcoeHeader {
    background: none;
  }

  .fcoeNameplate {
    height: 67px;

    .title {
    	display: none;
    }

    &__title {
      width: 190px;
      text-indent: 0;
      background: none;
      white-space: normal;
    }
  }

  .page-header {
  	ul.title-area {
  		li.name {
  			a {
  				font-size: rem-calc(18);
  			}
  		}
  	}
  	.top-bar-section {
  		ul {
  			background: rgba(0,0,0,.30)
  		}
  	}
  }

}