

/*----------------  Global Header  -------------*/

.fcoeHeaderWrap {
  background: $blueMuted;
  border-bottom: 4px solid $blueDeep;
  margin-bottom: 0;
}

.fcoeHeader {
   background: url("../images/fcoeHeader_bg.png") no-repeat 100% 0;

  .menu-icon {
    background: #000;
    position: absolute;
    top:0;
    right: 0;
  }
}

.fcoeNameplate {
  height: 67px;

  &__title {
    // background: transparent url("../images/fcoeLogo.png") no-repeat 0;
    // height: 67px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: rem-calc(17);
    line-height: rem-calc(21);
    a {
      display: block;
      padding-top: 12px;
      color: #ffffff;
      font-family: $fontFamilyLight;
    }
  }

  &__superintendent {
    // display: none;
    font-size: rem-calc(14);
    color: $white;

  }

  img {
  	float: left;
  	margin: 13px 10px 0 0;
  }
}

.fcoeNav {
  background: transparent;

  &__menu {
    height: 40px;
    padding-right: 20px;
    text-align: right;
  }

  &__menuItem {
    display: inline-block;
  }

  &__menuLink {
    display: block;
    line-height: 48px;
    color: #ffffff; 
    font-family: $fontFamilyFoundation;
    font-size: rem-calc(14);
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 0 8px 0 0;
    &:hover {
      color: $highlight;
      text-decoration: underline;
    }
    &.first {
      padding-left: 0;
    }
    &.last {
      border-right: 0;
    }
  }
}

.right-off-canvas-menu {
  background: $blueDeep;
  ul {
    padding-top: 20px;
    margin: 0;
    list-style-type: none;
    li {
      border-bottom: 1px solid $blueMuted;
      a {
        display: block;
        padding: 6px 0 6px 20px;
        color: #ffffff;
        font-family: $fontFamilyLight;
        font-size: rem-calc(14px);
      }
    }
  }
}

.right-off-canvas-toggle {
  position: absolute;
  top: 0;
  right: 0;
  height: 67px;
  line-height: 67px;
  background: $blueDeep;
  padding: 0 15px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: rem-calc(14px);
  font-family: $fontFamilyLight;
  &:hover {
    color: $highlight;
  }
  span {
    display: inline-block;
  }
  img {
    display: inline-block;
    height: rem-calc(24px);
    width: rem-calc(24px);
    vertical-align: middle;    
  }
}

/*----------------  Nav  -------------*/

a.active-trail.active {
	background: none !important;
}

/*----------------  Tables  -------------*/

table {
	width: 100%;
}


/*----------------  Page Header  -------------*/



#content {
  position: relative;
}


/*----------------  Quick Tabs  -------------*/

  #main {
    > .container {
      position: relative;
    }
  }
/** Put absolute positioning on hold
.tabs {
  position: absolute;
  top: 0;
  right: 0;

  ul.primary {
    border-bottom: 0;
    margin-right: 10px;
  }

  ul.primary li a {
    background: $gray;
    border: 0;
    padding: 5px 12px;
  }

  ul.primary li.active a {
    background: $bronze;
    color: #fff;
  }

}
*/


/*----------------  Content Header  -------------*/

.content-header {
  padding: 00;
  &.-homePage {
    padding: 60px 0 0 0;
  }
  .viewTitle {
    color: $blueMuted;
    font-size: rem-calc(26);
    padding: 20px 0;
    margin-top: 0;
    &.centered {
      text-align: center;
      font-size: rem-calc(28);
      border-bottom: 2px solid $gray;
      border-top: 1px solid $gray;
      margin-bottom: 20px;
    }
  } 
  .contentHeaderTitle {
    margin: 0 0 25px 0;
    padding-top: 37px;
    font-size: rem-calc(40);
    font-family: $fontFamilyLight;
    &.-homePage {
      font-size: rem-calc(30);
      padding-top: 10px;
    }
  }
  p {
    font-size: rem-calc(15);
    font-family: $fontFamilyLight;
    padding-right: 45px;
  }
  .button-list {
    .button {
      background-position: 15px 50%;
      background-repeat: no-repeat;
      padding: 16px;
      margin-top: 15px;
      margin-bottom: 10px;
      display: block;
      text-align: left;
      border-bottom: 3px solid $blueDeep;
      &.-pdfIcon {
        background-image: url(../images/pdf-icon-white-24.png);
        padding-left: 50px;
      }
    }
    h4 {
      padding-top: 11px;
      padding-bottom: 14px;
      font-family: $fontFamilyLight;
    }
  }
}

/*----------------  Content Header  -------------*/

.event-date {
	padding-left: 57px;
  padding-bottom: 20px;
  background: transparent url(/sites/all/themes/specialevents/images/time-icon.png) no-repeat 10px 7px;
}

.event-location {
  	padding-left: 57px;
    padding-bottom: 20px;
    background: transparent url(/sites/all/themes/specialevents/images/address-icon.png) no-repeat 10px 7px;
  }

.content-area {
  padding-bottom: 80px;
  min-height: 500px;
  font-family: $fontFamilyLight;
  position: relative;
  &.-homePage {
    min-height: auto;
  }
  h3 {
    color: $blueMuted;
    font-size: rem-calc(26);
    padding: 20px 0 0;
    margin-top: 0;
    &.centered {
      text-align: center;
      font-size: rem-calc(28);
      border-bottom: 2px solid $gray;
      border-top: 1px solid $gray;
    } 
  }

  img.aside {margin-top: 27px; padding-right: 20px;}

  .event-detail {
    margin-bottom: 35px;
    padding-top: 15px;
  }

  ul.grid-list {
    margin: 20px 0;
    li {
      font-family: $fontFamilyFoundation;
      color: $blueMuted;
      margin: 0;
      font-size: rem-calc(16);
      span {
        padding: 8px 0 8px 20px;
        margin-bottom: 0px;
        margin-right: 0px;
        background: $gray;
        display: block;
      }
    }
  }



  .event-list {
    list-style-type: none;
    margin: 0 0 25px 8px;
    padding: 10px 0 0 0;
    li {
      &.time {
        background: transparent url('../images/time-icon.png') no-repeat 10px 7px;
      }
      &.map {
        background: transparent url('../images/map-icon.png') no-repeat 10px 7px;
      }
      padding-left: 57px;
      padding-bottom: 20px;
      background: transparent url('../images/address-icon.png') no-repeat 10px 7px;
      h4 {
        margin: 0;
        font-size: rem-calc(22);
        padding: 0;
        a {
          color: #c33232;
          color: $blueDeep;
          text-decoration: underline;
        }
      }

      p {
        margin:0;padding: 0;
        font-size: rem-calc(14);
        color: $grayDark;
      }
    }
  }  

  .google-maps {
      position: relative;
      padding-bottom: 65%; // This is the aspect ratio
      height: 0;
      overflow: hidden;
  }
  .google-maps iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
  }


  .doc-list-heading {
    border-bottom: 1px dotted $grayDark;
    margin-bottom: 15px;
    font-size: rem-calc(21);
    line-height: rem-calc(26);
    background: $gray;
    padding: 8px 16px;
    color: $blueMuted;
    font-family: $fontFamilyLight;
  }

  .doc-list {
    list-style-type: none;
    margin: 0 0 25px 8px;
    padding: 0;
    li {
      padding-left: 57px;
      padding-bottom: 20px;
      background: transparent url('../images/doc-icon-32.png') no-repeat 10px 7px;
      &.-link {
        background: transparent url('../images/link-icon-32.png') no-repeat 10px 7px;
      }
      h4 {
        margin: 0;
        font-size: rem-calc(19);
        padding: 0;
        a {
          color: #c33232;
          color: $blueDeep;
          text-decoration: underline;
        }
      }
      p {
        margin:0;padding: 0;
        font-size: rem-calc(14);
        color: $grayDark;
      }
    }
  }

  .highlight {
    background: yellow !important;
  }

  .icon-list {
    list-style-type: none;
    margin: 0 0 25px 8px;
    padding: 10px 0 0 0;
    li {
      &.grades {
        background: transparent url('../images/grades-icon.png') no-repeat 10px 7px;
      }
      &.quiz {
        background: transparent url('../images/quiz-icon.png') no-repeat 10px 7px;
      }
      &.award {
        background: transparent url('../images/award-icon.png') no-repeat 10px 7px;
      }
      &.team {
        background: transparent url('../images/team-icon.png') no-repeat 10px 7px;
      }
      padding-left: 57px;
      padding-bottom: 20px;
      h4 {
        margin: 0;
        font-size: rem-calc(22);
        padding: 0;
        a {
          color: #c33232;
          color: $blueDeep;
          text-decoration: underline;
        }
      }
      p {
        margin:0;padding: 0;
        font-size: rem-calc(14);
        color: $grayDark;
      }
    }
  }

}

.field-name-field-p-text-body {
	p {
		margin-bottom: 1rem;
	}
}


/*----------------  Footer -------------*/

footer {
  padding-top: 25px;
  border-top: 1px solid darken($gray, 9);
  p {
    font-family: $fontFamilyLight;
    font-weight: normal;
    padding-bottom: 12px;
  }
}

/*----------------  Media Elements -------------*/

.media-element {
	.image {
		padding: 0;
		img {
			object-fit: cover;
			width: 100%;
			height: 500px; 
		}
	}
}

/*----------------  User Pages -------------*/
.page-user, .page-node-add, .page-node-edit {
	.field-collection-container {
		margin-top: 50px;
		border-top: 1px solid $gray;
		padding: 25px;
	}
}

.video-button {
	img {
		margin: -0.7rem 0.5rem -0.5rem -0.25rem;
	}
}

/*----------------  Table Drag -------------*/
.tabledrag-toggle-weight-wrapper {
		display: none;
	}
	.field-multiple-drag {
		display: none;
	}

/*----------------  Site Specific overrides -------------*/


.view-Reports table {
  width: 100%; 
}

/** Science Olympiad overrides **/
.field-type-field-collection {
	table {
		width: 100%;
	}
}



#block-entityform-block-judge-registration {
	table {
		width: 100%;
	}
	.form-wrapper {
		width: 85%;
	}
}

/*---------------- Cafe Menu ----------------*/
.restaurant-menu {
	margin-bottom: 20px;
	ul {
		margin-left: 0;
		lh {
			font-weight: 700;
		}
		li {
			list-style: none;
		}
	}
}




/*---------------- Timeline ----------------*/

/* Timeline Container */

ol.timeline {
  list-style: none;
  margin-left: 10px;
}
.timeline {
	position: relative;


/* Individual Timeline Item */
	.tl-item {
		padding-left: 1em;
		margin-bottom: 0;
		padding-bottom: 10px;
		position: relative;
		border-left: 3px solid $grayDark;
		&.page-view {
			padding-left: 2em;
			padding-bottom: 2em;
			p {
				padding-top: .5em;
				padding-bottom: .25em;
				&.due-date {
					font-style: italic;
					font-weight: 700;
					.due-label {
						text-transform: uppercase;
						padding-right: .5em;
					}
				}
			}
			ol {
				padding-top: .5em;
			}
		}
		&.last {
			border-left: 0;
			margin-left: 3px;
		}
		h2 {
	  	line-height: 25px;
	  	margin: 0;
	  	&:before {
			content: "";
			position: absolute;
			top: 0;
			left: -0.5em;
			width: 35px;
			height: 35px;
			border-radius: 20px;
			background: #fff;
			border: 5px solid $grayDark;
	  	}
	  }
	  h3 {
	  	line-height: 19px;
	  	margin: 0;
	  	font-weight: 700;
	  	&:before {
			content: "";
			position: absolute;
			top: 0;
			left: -0.6em;
			width: 20px;
			height: 20px;
			border-radius: 20px;
			background: #fff;
			border: 3px solid $grayDark;
	  	}
	  }


		p {
			padding: 0 0 10px 0;
			margin-bottom: 0;
			
		}	
	}
}


