// main site header


.front {
	&.node-type-page {
		.page-header {
		height: 400px;
	  }
	}	
}

.node-type-page {
	.page-header {
  //background:
    // url('../images/bg_nav_main.png') 0 0 repeat-x;
    // url('../images/bg_header_page_4.jpg') 0 0 no-repeat;
  background-size: cover;
  border-bottom: 12px solid $bronze;
  height: 350px;
  position: relative;
  &.-homePage {
    background:
      url('../images/bg_nav_main.png') 0 0 repeat-x,
      url('../images/bg_header_page_home.jpg') bottom center no-repeat;
      height: 418px;
      background-size: auto, cover;
      height: 408px;
	  }
	}
	
	.site-hero {
	  height: 350px;
	  position: relative;
	  &.-homePage {
	    height: 408px;
	  }
	}
}


.page-header-inner {
		background: url('../images/bg_nav_main.png') 0 0 repeat-x;
	}



.title-area {
  > .name h2 {
    > a {
      font-size: rem-calc(30);
      line-height: rem-calc(75);
      background: #fff;
      display: block;
      padding: 0 30px;
      margin-right: 20px;
      margin-left: 15px;
      background: url('../images/bg_nameplate.png') 0 0 repeat-x;
      color: $blueDeep;
    }
  }
}



.register-nag {
  position: absolute;
  top: -110px;
  left: 0px;
  font-size: rem-calc(19);
  color: #ffffff;
  background: rgba($jet, 0.85);
  padding: 0 0 0 22px;
  > a {
    display: inline-block;
    color: #fff;
    background: $bronze;
    padding: 12px 20px 12px 20px;
    margin-left: 20px; 
  }
  &.-homePage {
    
  }
}
