// Media Element

// set this as the path to 
$media-item: "../images/2014_winners.jpg";

.media-element {
  > .image {
    min-height: 400px;
  }
  > .copy {
    padding: 0;
    color: white;
    h4 {
      text-transform: uppercase;
      color: $bronze;
      font-size: rem-calc(16);
      padding: 8px 20px;
      display: inline-block;
      background: $blueDeep;
      margin: 0;
    }
    h2 {
      &.-homePage {
        color: white;
        padding-top: 30px;
        font-size: rem-calc(26);
      }
    }
    p {
      font-size: rem-calc(14);
      color: white;
      font-family: $fontFamilyLight;
      padding-top: 15px;
      padding-right: 30px;
      padding-bottom: 15px;
      span { color: black;
            background: yellow;
      }
    }
    a.button {
      background: transparentize($blueDeep, 0.7);
      color: $bronze;
      margin-bottom: 10px;
      font-size: rem-calc(13);
      margin-left: 0;
    }
    p,
    h2 {
      @extend .-indentCopy;
    }
  }

  .-indentCopy {
    margin-left: 55px;
  }

  &.-fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    background: $blueMuted;
    margin-bottom: 50px;
    margin-top: 50px;
    > .copy {
      max-width: $row-width/2;
      float: left !important;
    }
  }
  &.-homePage {
    > .image {
      background: url($media-item) no-repeat; 
      background-position: top center;
      background-size: cover; 
    }
  }
}

